h1 {
 font-size: 50px;
  text-align: center;
}
body {
  background-color: rgba(0, 255, 221, 0.288);
  
}
.para {
 font-size: 18px;
font-style: italic;

}
.theimg {
  width: 300px;
  display:flex;
  justify-content:right;
  border-radius: 10px;
  border-width: 10px;
  border-color: black;
  border: solid;
  
}
#para {
  font-size: 17.5px;
  line-height: 18px;
  /* padding: 10px 10px 10px 10px; */
 
}
.img {
  margin-left: 20px;
    margin-bottom: 7px;
    float: right;
    height: 200px;
    border-width: 20px;
    border-radius: 30px;
    border: solid grey 5px;
}
.thecoolone {

 text-align: justify;

}
button {
  font-size: 10px;
  text-decoration: none;
}
  
button {background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%)}
button {
   margin: 5px;
   padding: 10px 15px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 2px 2px 2px #242323;
   border-radius: 10px;
   display: inline;
 }

 button:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

   
  






/* but {background-image: linear-gradient(to right, #003973 0%, #E5E5BE  51%, #003973  100%)}
.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
  